body {
    margin: 0;
    padding: 0;
    background: #e3e5e8;
}
.container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background: url(https://images.pexels.com/photos/2787341/pexels-photo-2787341.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260);
    background-size: cover;
    animation: animate 5s linear infinite;
}
@keyframes animate {
    0% {
        box-shadow: 0 0 0 15px rgba(0,0,255,0.1),0 0 0 30px rgba(0,0,255,0.1),0 0 0 45px rgba(0,0,255,0.1),0 0 0 60px rgba(0,0,255,0.1),0 0 0 70px rgba(0,0,255,0.1);
    }

    50% {
        box-shadow: 0 0 0 25px rgba(0,0,255,0.1),0 0 0 50px rgba(0,0,255,0.1),0 0 0 75px rgba(0,0,255,0.1),0 0 0 100px rgba(0,0,255,0.1),0 0 0 125px rgba(0,0,255,0.1);
    }

    100% {
        box-shadow: 0 0 0 15px rgba(0,0,255,0.1),0 0 0 30px rgba(0,0,255,0.1),0 0 0 45px rgba(0,0,255,0.1),0 0 0 60px rgba(0,0,255,0.1),0 0 0 70px rgba(0,0,255,0.1);
    }
}